<h1>&nbsp Cambia tu contraseña &nbsp</h1>

<%= form_with model: @user, url: password_reset_edit_path(token: params[:token]) do |form| %>
    <%= render "layouts/msj_errores", form: form %>
    <div class="mb-3">
        <%= form.label :password, "Contraseña" %>
        <%= form.password_field :password, class:"form-control" %>
    </div>

    <div class="mb-3">
        <%= form.label :password_confirmation, "Confirmar contraseña" %>
        <%= form.password_field :password_confirmation, class:"form-control" %>
    </div>
<% end %>