<h1>Crear receta</h1>
<div class="row">
    <div class="col-md-6">  
    <%= form_with model: @receta, url: recetas_crear_receta_path do |form| %> 
        <%= render "layouts/msj_errores", form: form %>
        
        <div class="mb-3">
            <%= form.label :nombre %>
            <%= form.text_field :nombre, class:"form-control" %>
        </div>

        <div class="mb-3">
            <%= form.label :descripcion %>
            <%= form.text_area :descripcion, class:"form-control" %>
        </div>

        <%= form.submit "Crear receta", class: "btn btn-primary" %>
    <% end %>
    </div>
</div>