<div class="row col-sm-12">
    <div class="col-sm-6">
        <div class="card" style="width: 18rem;">
            <image src="<%= url_for(@recipe.image) %>" >
            <div class="card-body">
                <h5 class="card-title"> <%= @recipe.nombre %> </h5>
                <p class="card-text"> <%= @recipe.content %> </p>
            </div>
        </div>

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#comentario_modal">
            Comentar
        </button>
    </div>

    <div class="col-sm-6">
        <h3>Comentarios: </h3>
        <% @recipe.comments.each do |comment| %>
            <ul class="list-group" >
                <%= render 'comments/comment', comment: comment %>
            </ul>
        <% end %>
    </div>
</div>


<div class="modal fade" id="comentario_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Escribí tu comentario</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <%= form_for([@recipe, @recipe.comments.build]) do |form| %> 
                    <%= render "layouts/msj_errores", form: form %>
                    
                    <div class="mb-3">
                        <%= form.label :content %>
                        <%= form.rich_text_area :content %>
                    </div>  

                    
            </div>
            <div class="modal-footer">
                <%= form.button "Comentar", method: :post, class: "btn btn-primary" %>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
            <% end %>
        </div>
    </div>
</div>