<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 20px">
  <div class="container-fluid">
    <%= link_to root_path do %>
      <%= image_tag "sombrero2.png", class: "navbar-brand", style: "height: 75px" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <% if Actual.user %>
            <%= link_to "Home", cookpedia_path, class: "nav-link" %>
          <% else %>
            <%= link_to "Home", root_path, class: "nav-link" %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to "About", about_path, class:"nav-link" %>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <% if Actual.user %>
        <li class="nav-item">
          <%= link_to "Mis recetas", recipe_index_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= button_to "Logout", logout_path, method: :delete, class: "btn btn-outline-secondary" %>
        </li>
        <% else %>
        <li class="nav-item">
          <%= link_to "Ingresar", login_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Registrarse", signup_path, class: "nav-link" %>
        </li>
        <% end %>
      </ul>
    
    </div>
  </div>
</nav>