<div class="table-responsive">
    <table class="table table-hover align-middle">
        <thead class="table-dark">
            <tr>
                <th class="text-center img-columns"></th>
                <th class="text-center nombre-columns">Nombre</th>
                <th class="text-center descripcion-columns">Descripción</th>
                <th class="text-center tags-columns">Categorías</th>
                <% if buttons %>
                    <th>Acciones </th> 
                <% end %>
                <th>Likes </th>
            </tr>
        </thead>
        <tbody>
            <% recipes.each do |recipe| %>
                <tr> 
                    <td> <image src="<%= url_for(recipe.image) %>" height=100> </td>
                    <td> 
                        <% if !buttons%>
                            <%= link_to recipe.nombre, recipe_path(recipe) %>
                        <% else %>
                            <%= recipe.nombre %>
                        <% end %>
                    </td>
                    <td> <%= recipe.content %> </td>
                    <td> 
                        <% recipe.tags.each do |tag| %> 
                            <span class="tag"> <%= tag.name.capitalize %> </span>
                        <% end %>
                    </td>
                    <% if buttons %>
                        <td>
                            <%= link_to edit_recipe_path(recipe), class: "btn btn-warning" do %>
                                <i class="bi bi-pencil-square"></i>
                            <% end %>
                            <%= button_to recipe , method: :delete, class: "btn btn-danger" do%>
                                <i class="bi bi-trash"></i>
                            <% end %>
                        </td>
                    <% end %>
                    <td>
                        <%= recipe.likes.count %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>